{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    {% if messages %}
    <div class="row content justify-content-center">

        {% for message in messages %}
        <div class="col-lg-4 alert {% if message.tags %} alert-{{ message.tags }}"{% endif %} role="alert">
            <h5 class="alert-heading text-center">
                {{ message }}
            </h5>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <h2>Active Listings</h2>

    {% for item in active_listings %}
    <div class="row pt-2 pb-2">
        <div class="col-6 col-sm-6 col-md-4 col-xl-3">
            <a href="{% url 'listings' item_id=item.id %}"><img class="img-fluid img-thumbnail" src="{{ item.img_URL }}"
                    alt=""></a>
        </div>

        <div class="col-5 col-md-8 col-xl-9">
            <p><strong>{{ item.name }}</strong></p>
            <p><strong>Price:</strong> {{ item.price }} EUR</p>
            <a class="btn btn-primary" href="{% url 'listings' item_id=item.id %}" role="button">Click More</a>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}