{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <h2 class="mb-5">{{ title }}</h2>

    {% for item in user_listings %}
    <div class="row pt-2 pb-2">
        <div class="col-3">
            <a href="{% url 'listings' item_id=item.id %}"><img class="img-fluid img-thumbnail" src="{{ item.img_URL }}"
                    alt=""></a>
        </div>

        <div class="col-9">
            <p><strong>{{ item.name }}</strong></p>
            <p><strong>Price:</strong> {{ item.price }} €</p>
            <a class="btn btn-primary" href="{% url 'listings' item_id=item.id %}" role="button">Click More</a>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}